@page "/addcontact"
@using Contact.Entities.ViewModel
@using Contact.Services.IServices
@inject IPersonService personService



<PageTitle>Add Contact</PageTitle>


<h1>AddContact</h1>

<EditForm Model="person" OnSubmit="Create">
    <label>Name:</label><br/>
    <InputText @bind-Value="person.Name" />
    <br />
    <label>Family:</label><br />
    <InputText @bind-Value="person.Family" />
    <br />
    <button type="submit" class="btn btn-success">Add Person</button>
   
    <SuccessNotification @ref="_notification"/>

</EditForm>








@code {
    private SuccessNotification _notification;
    PersonViewModel person;
    protected override void OnInitialized()
    {
        person = new PersonViewModel();
    }
    private void Create()
    {
        personService.AddPerson(person);
        _notification.Show();
    }
    
}
